*{
    margin: 0;
    padding: 0;
}
body{
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #d3adf7,#cff592, #92dcf3);
  animation: gradientMove 10s ease infinite;
}
.container{
    height: 560px;
    width: 1000px;
    align-items: center;
    margin-top: 100px;
}
iframe{
   border-radius: 40px;
   box-shadow: 0 16px 32px rgb(8, 8, 8);
}
.prev{
    position: absolute;
    top: 330px;
    left: 50px;
    height: 80px;
    width: 40px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 1px 16px black;
}
.previous :hover{
    background-color: #f5f3b7;
    transform: scale(1.05);
    transition: 0.3s;
}
.prev i{
    font-size: 30px;
    color: purple;
}
.next{
    position: relative;
    top: 50px;
    right: -350px;
    height: 80px;
    width: 40px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 1px 16px black;
    
}
a{
    text-decoration: none;
}
.next:hover{
    background-color: #f5f3b7;
    transform: scale(1.05);
    transition: 0.3s;
}
.next i{
    font-size: 30px;
    color: purple;
}